/* General Styles */

* {
  overflow: hidden;
}

body {
  background: linear-gradient(to right, #28f39a, #098baf);
}

/* Form General Styles */
.btn-color {
  background: linear-gradient(to right, #000fe6, #33e0ff);
  color: #fff;
  border: none;
  transition: 0.5s background;
}

.btn-color:hover {
  background: linear-gradient(to right,  #010cad, #2397ac);
  color: #fff;
}

.form-control:focus {
  border:  1px solid #28f39a !important;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0) !important;
  
}